version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: agnos_postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: cmd/search/Dockerfile
    env_file:
      - .env
    environment:
      PORT: ${PORT}
      JWT_SECRET: ${JWT_SECRET}
      HOSPITAL_BASE: ${HOSPITAL_BASE}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - .env:/.env:ro  

volumes:
  pgdata:
